# Data Cleaning and EDA

In [3]:
# Import the required libraries
import pandas as pd
import numpy as np
import re

In [4]:

#  Functions for Duplicate checks 
def get_exact_dups(df):
    '''
    Returns duplicates
    '''
    dups = df[df.duplicated()]
    return dups

def get_tweet_dups(df, col_names):
    '''
    Returns duplicates based on given column name
    '''
    dups = df[df.duplicated(subset=col_names)]
    return dups

In [21]:
external_tweets = pd.read_csv('../data/us_only_external_data_tweets_TOOL_labeled.csv')
print(external_tweets.shape)
print(external_tweets.info())

query_humanlabeled_tweets = pd.read_csv('../data/jan_2021_queried_tweets_HUMAN_labeled.csv')
print(query_humanlabeled_tweets.shape)
print(query_humanlabeled_tweets.info())


queried_tweets = pd.read_csv('../data/jan_2021_queried_tweets_TOOL_labeled.csv')
print(queried_tweets.shape)
print(queried_tweets.info())


streamed_tweets = pd.read_csv('../data/jan_2021_streaming_tweets_TOOL_labeled.csv')
print(streamed_tweets.shape)
print(streamed_tweets.info())

(38044, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38044 entries, 0 to 38043
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        38044 non-null  int64
 1   the_id            38044 non-null  int64
 2   content           38044 non-null  object
 3   user_loc          38044 non-null  object
 4   user_screen_name  38044 non-null  object
 5   retweet_count     38044 non-null  int64
 6   fav_count         38044 non-null  int64
 7   created_at        38044 non-null  object
 8   char_count        38044 non-null  int64
 9   sentiment_method  38044 non-null  object
 10  sentiment         38044 non-null  object
dtypes: int64(5), object(6)
memory usage: 3.2+ MB
None
(348, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               348 non-null    object
 1   id_str            348 non-null    float64
 2   content           348 non-null    object
 3   user_loc          348 non-null    object
 4   user_screen_name  348 non-null    object
 5   retweet_count     348 non-null    int64
 6   fav_count         348 non-null    int64
 7   created_at        348 non-null    object
 8   sentiment         348 non-null    object
 9   char_count        348 non-null    int64
 10  sentiment_method  348 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 30.0+ KB
None
(130, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               130 non-null    object
 1   id_str            130 non-null    float64
 2   content           130 non-null    object
 3   user_loc          130 non-null    object
 4   user_screen_name  130 non-null    object
 5   retweet_count     130 non-null    int64
 6   fav_count         130 non-null    int64
 7   created_at        130 non-null    object
 8   char_count        130 non-null    int64
 9   sentiment_method  130 non-null    object
 10  sentiment         130 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.3+ KB
None
(193, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               193 non-null    object
 1   id_str            193 non-null    float64
 2   content           193 non-null    object
 3   user_loc          193 non-null    object
 4   user_screen_name  193 non-null    object
 5   retweet_count     193 non-null    int64
 6   fav_count         193 non-null    int64
 7   created_at        193 non-null    object
 8   char_count        193 non-null    int64
 9   sentiment_method  193 non-null    object
 10  sentiment         193 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 16.7+ KB
None

In [23]:
display(external_tweets.head(3))
display(query_humanlabeled_tweets.head(3))
display(queried_tweets.head(3))
display(streamed_tweets.head(3))

,Unnamed: 0,the_id,content,user_loc,user_screen_name,retweet_count,fav_count,created_at,char_count,sentiment_method,sentiment
0,9,9,“Instructional Considerations for the 2020-21 ...,"Illinois, USA",Erik_Youngman,0,2,2020-08-02 00:10:26,276,tools,neutral
1,10,10,With all the uncertainty of what September wil...,"Lyndhurst, NJ",Renee_LoBue,0,0,2020-08-01 23:57:31,264,tools,positive
2,11,11,Check this out on Wakelet - Digital learning a...,"Cary, NC",SupriyaVasu,0,0,2020-08-01 23:20:38,133,tools,neutral

,_id,id_str,content,user_loc,user_screen_name,retweet_count,fav_count,created_at,sentiment,char_count,sentiment_method
0,5ffde71b5e4953000d99dc7c,1.348996e+18,These really are critical.\n2yrs ago I took 9 ...,"Texas, USA",summers_llm,0,0,2021-01-12 14:11:21,neutral,213,human
1,5ffde71b5e4953000d99dc7d,1.348986e+18,ConnectEd After School Lesson Grades K-2\nThur...,"North Dakota, USA",ncecnd,0,0,2021-01-12 13:30:04,neutral,122,human
2,5ffde71b5e4953000d99dc7e,1.348978e+18,Don't forget to register for our FREE Remote a...,New York City,ReadWorks,0,0,2021-01-12 13:01:36,neutral,303,human

,_id,id_str,content,user_loc,user_screen_name,retweet_count,fav_count,created_at,char_count,sentiment_method,sentiment
0,5ffde71f5e4953000d99dd55,1.348735e+18,Virtual learning has caused a fair share of fr...,Wisconsin,Edficiency,0,0,2021-01-11 20:55:39,272,tools,positive
1,5ffde71f5e4953000d99dd58,1.348704e+18,Preparing for high school is an exciting time!...,"St. Augustine, Florida",SJCSD,0,0,2021-01-11 18:51:41,221,tools,positive
2,5ffde71f5e4953000d99dd5d,1.348672e+18,The Nature-based 4K Parent Night for enrollmen...,"Newburg, WI",RiveredgeNC,0,0,2021-01-11 16:42:40,276,tools,positive

,_id,id_str,content,user_loc,user_screen_name,retweet_count,fav_count,created_at,char_count,sentiment_method,sentiment
0,5ffde60d64e25f9f2612592c,1.349056e+18,"If a student is missing class a bunch, their g...","Provo, UT",avatargrace,0,0,2021-01-12 18:10:16,275,tools,negative
1,5ffdf9c180d443513a191637,1.349077e+18,"@JamesTodaroMD @ConservMama17 I went to proms,...",Mountains of California,AudreyJeanne,0,0,2021-01-12 19:34:19,308,tools,positive
2,5ffdfcbbed845d2d2c79e966,1.349080e+18,Last weeks blog by @RachelJTeaches provides an...,"Arlington, VA",intellispark,0,0,2021-01-12 19:47:01,200,tools,positive

## Data cleaning steps:
* __Duplicate check/ Duplicate handling__ 

* __Null check/Null handling__

* __Data type conversion__

In [24]:
# Check for any nulls
print(external_tweets.isnull().sum())
print(queried_tweets.isnull().sum())
print(query_humanlabeled_tweets.isnull().sum())
print(streamed_tweets.isnull().sum())

Unnamed: 0          0
the_id              0
content             0
user_loc            0
user_screen_name    0
retweet_count       0
fav_count           0
created_at          0
char_count          0
sentiment_method    0
sentiment           0
dtype: int64
_id                 0
id_str              0
content             0
user_loc            0
user_screen_name    0
retweet_count       0
fav_count           0
created_at          0
char_count          0
sentiment_method    0
sentiment           0
dtype: int64
_id                 0
id_str              0
content             0
user_loc            0
user_screen_name    0
retweet_count       0
fav_count           0
created_at          0
sentiment           0
char_count          0
sentiment_method    0
dtype: int64
_id                 0
id_str              0
content             0
user_loc            0
user_screen_name    0
retweet_count       0
fav_count           0
created_at          0
char_count          0
sentiment_method    0
sentiment           0
dtype: int64

In [28]:
# What are the value counts for the 3 different sentiments?
# External_dataset_tweets
print('external_tweets \n', external_tweets['sentiment'].value_counts())
print('\nqueried_tweets \n', queried_tweets['sentiment'].value_counts())
print('\nquery_humanlabeled_tweets \n', query_humanlabeled_tweets['sentiment'].value_counts())
print('\nstreamed_tweets \n', streamed_tweets['sentiment'].value_counts())

external_tweets
 positive    28169
neutral      5942
negative     3933
Name: sentiment, dtype: int64

queried_tweets
 positive    98
neutral     17
negative    15
Name: sentiment, dtype: int64

query_humanlabeled_tweets
 negative    136
neutral     122
positive     90
Name: sentiment, dtype: int64

streamed_tweets
 positive    135
negative     35
neutral      23
Name: sentiment, dtype: int64